{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shorter</title>
    <link rel="stylesheet" href="{% static 'assests/css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous">
    </script>

    <style>
        

        
        
    </style>
</head>
<body>
    <main>
        <div class="wrapper">
        <div class="title">
        <p class="head">URL SHORTNER</p>
        <a href=""><p class="small">History</p></a>
        </div>
        <div>
            <form  id="post-form">
                {% csrf_token %}
                <input type="text" name="link" id="link" placeholder="Enter URL here">
                <div class="short">
                    <input type="submit" id="shortenButton" value="Shorten">
                </div>
            </form>
        </div>
        <div class="results">
            <h2 id="resultText"></h2>
            <div class="copy-code">
                <div></div>
                <small id="copyButton">Copy link</small>
            </div>
        </div>
        </div>
    </main>

<script type="text/javascript" src="{% static "assests/js/main.js" %}"></script>

</body>
</html>